
body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color:#45c8e9;   
}

.navbar-brand {
    margin-left: 15px;
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.margin {    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58FAFA;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}